/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

}
mat-card {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {
    vertical-align: middle;
    height: 100%;
}
.danger {
    color: red;
}
